
* {
    margin: 0;
    padding: 0;  
    list-style: none; 
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
    margin:0;
    padding:0;
}

.container {
    width: 1020px;
    font-family: "Lato";
}

.section{
    padding:60px 40px;
}

.header-top{
    background-color: #2d303a;
    height: 89px;
    display: grid;
    grid-template-columns: 146px 10px 439px 425px;
}

.website-name{
    color:#ffffff;
    font-size: 25px;
    margin-left: 40px;
    letter-spacing: -0.5px;
    padding: 29px 0px;
    
}

.star-symbol{
    color:#f06c64;
    font-size: 25px;
    padding-top: 29px;
}

.navigation-bar{
    font-size: 12px;
    color:#ffffff;
    display: grid;
    grid-template-columns:62px 6px 77px 6px 90px 6px 65px 6px 80px 27px;
    text-align: center;
    margin-top:42px;
}

.navigation-bar > li > a{
    color: #ffffff;
}

.navigation-bar > li > a.active-link{
    color:#f06c64;
}

.navigation-bar > li > a:hover{
    cursor: pointer;
    color: #f06c64;
}

.dot{
    font-size: 18px;
    color:#494e62;
    margin-top: -8px;
}
.header-bottom{
    background-color: #323746;
    height: 6px; 
}

.slider-top{
    background-color:#f06c64;
    height:594px;
    
}

.slider-bottom{
    background-color:#ea676b;
    height:6px;
}

.block{
    display: grid;
    grid-template-columns: 60px 260px;
}
.block > img{
    width: 60px;
    margin: auto;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.main-text{
    grid-area: text;
}

.our-services-top{
    background-color: #f2f2f2;
    height: 374px;
    display: grid;
    grid-template-areas:
    "text text text"
    "one two three"
    "four five six";
    grid-template-columns: 320px 320px 300px;
    grid-template-rows: 130px 122px 122px;
}

.headline{
    font-size: 30px;
    color:#666d89;
}

.description{
    font-size: 18px;
    color:#767e9e;
    font-weight: lighter;
    padding: 16px 0;
    line-height: 30px;
    text-align: justify;
}

.paragraph{
    padding: 0 20px;
    font-size: 12px;
    color:#767e9e;
    text-align: justify;
    line-height: 22px;    
}

.caption{
    color: #666d89;
    font-size: 18px;
    padding: 26px 0 8px 0;
}}

.main-text{
    grid-area: mt;
}

.our-services-bottom{
    background-color: #ffffff;
    height: 6px;
}

.slider-top{
    display: grid;
    grid-template-columns: 100px 265px 555px 100px;
    margin: auto;
}

.slider-top > img{
    margin: auto;
}

.vertical-iphone{
    padding-bottom: 5px;
}

.horizontal-iphone{
    padding: 0 0 5px 48px;
}

.next{
    padding: 0 0 5px 5px;
}

.prev{
    padding-bottom: 3px;
}

.button{
    background-color:#f06c64;
    border: none;
    outline: none;
}

.button:hover{
    cursor: pointer;
    background-color: #dc625a;
}
