* {
    margin: 0;
    padding: 0;  
    list-style: none; 
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:normal;
    margin:0;
    padding:0;
}

.container {
    width: 1020px;
    font-family: "Lato";
}

.section{
    padding: 0 40px;
}

.headline{
    font-size: 30px;
    color:#666d89;
    letter-spacing: 0.2px;
    padding-top: 45px;
}

.about-us-headline{
    padding-top: 59px;
}

.description{
    font-size: 18px;
    color:#767e9e;
    font-weight: lighter;
    padding: 19px 0 9px 0;
    line-height: 30px;
    text-align: justify;
    margin-left: -1px;
}

.about-us-description{
    padding: 18px 0 44px 0;
}

.portfolio-top{
    background-color: #2d303a;
    height: 849px;
}

.tab{
    background-color: #2d303a;
    margin-right: 7px;
    margin-left: 1px;
    padding: 1.8px 6px 3.2px 5px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-family: "Lato";
    font-size: 12px;
    cursor: pointer;
    color: #767e9e;
    outline: none;
}

.active-tab, .tab:hover{
    border: 1px solid #c5c5c5;
    color:#dedede;
}

.gallery{
    display: flex;  
    margin: 19px 0 0 -1px;
    flex-wrap: wrap;
    width:960px;
}

.gallery > img {
    width: 220px;
    height: 187px;
    margin: 0 20px 20px 0;
}

.portfolio-bottom{
    background-color: #323746;
    height: 6px;
}

.about-us-top{
    background-color: #f2f2f2;
    height: 727px;
}

.staff{
    display: flex;
    width:960px;
    color: #767e9e;
    font-size: 12px;
}

.staff > img{
    margin: 0 20px 20px 0;
}

.paragraph{
    font-size: 12px;
    color:#767e9e;
    text-align: justify;
    line-height: 22px;    
    padding-right: 20px;
    margin-left: -1px;
}

.about-us-caption{
    color: #666d89;
    font-size: 18px;
    padding: 9px 0 8px 0;
}

.social_icon{
    width: 14px;
    height: 14px;
    padding: 8px;
    border: 1px solid #6a718c;
    border-radius: 50%;
    margin: 22px 5px 0 1px;
}

.social_icon:hover{
    width: 25px;
    height: 25px;
    border-radius: 25%;
    cursor: pointer;
}

.facebook path:hover{
    fill: #3b5998;
    cursor: pointer;
}

.google path:hover{
    fill: #db4a39;
    cursor: pointer;
}

.twitter path:hover{
    fill: #00acee;
    cursor: pointer;
}

.linkedin path:hover{
    fill: #0e76a8;
    cursor: pointer;
}

.about-us-bottom{
    background-color: #ffffff;
    height: 6px;
}