* { 
    list-style: none; 
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1020px;
    margin: auto;
    font-family: "Lato";
    overflow: hidden;
}

.section{
    padding:0 40px;
}


/* HEADER */
.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}
.burger-menu{
    display:none;
}

.header-top{
    background-color: #2d303a;
    height: 89px;
    display: grid;
    grid-template-columns: 106px 10px auto 425px;
}

.website-name{
    color:#ffffff;
    font-size: 25px;
    letter-spacing: -0.5px;
    padding-top: 12px;
    font-weight: 500;
}

.star-symbol{
    color:#f06c64;
    font-size: 25px;
    padding-top: 29px;
}

.navigation-bar{
    font-size: 12px;
    color:#ffffff;
    display: grid;
    grid-template-columns:62px 6px 76px 6px 90px 6px 65px 6px 80px 26px;
    text-align: center;
    margin-top:42px;
    font-weight: 600;
    letter-spacing: -0.2px;
}

.navigation-bar > li > a{
    color: #ffffff;
}

.navigation-bar > li > a.active-link{
    color:#f06c64;
}

.navigation-bar > li > a:hover{
    cursor: pointer;
    color: #f06c64;
}

.dot{
    font-size: 18px;
    color:#494e62;
    margin-top: -8px;
}

.header-bottom{
    background-color: #323746;
    height: 6px; 
}

/* SLIDER */
.carousel{
    /*position: absolute;
    transform: translate(-50%, -50%);*/
    padding-top: 95px;
    margin-bottom: -95px;
}

.slide{
    display: inline-block;
    position: relative;
}

.slide > img{
    width: 100%;
}

.slider{
    position: relative;
    overflow: hidden;
    padding-top: calc(100% / (1020 / 594));
}

.slider-main{
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    white-space: nowrap;
    font-size: 0;
}

.slider-top{
    background-color:#f06c64;
    display: grid;
    grid-template-columns: 100px 265px 555px 100px;
    margin: auto;
    position: absolute;
    height: 100%;
    top: 0;
}

.slider-top > img{
    margin: auto;
}

.vertical-iphone{
    padding-bottom: 5px;
    padding-right: 1px;
}

.horizontal-iphone{
    padding: 0 0 6px 48px;
}

.next{
    margin-left: 4px;
}

.button{
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    bottom: 0;
    padding: 0 40px;
    z-index: 1;
    background: transparent;
}

.button[data-action="prev"]{
    left: 0;
}

.button[data-action="next"]{
    right: 0;
}

.button:hover{
    cursor: pointer;
    background-color: #dc625a;
}

.slider-bottom{
    background-color:#ea676b;
    height:6px;
    position: sticky;
}

/* OUR SERVICES */
.services{
    padding-top: 95px;
    margin-bottom: -95px;
}
.advantages{
    display: grid;
    grid-template-areas:
    "one two three"
    "four five six";
    grid-template-columns: 34% 34% 32%;
    grid-template-rows: 123px 135px;
}

.block{
    display: grid;
    grid-template-columns: 60px 260px;
}
.block > img{
    width: 60px;
    margin-top: 45px;
}
.one{
    grid-area: one;
}
.two{
    grid-area: two;
}
.three{
    grid-area: three;
}
.four{
    grid-area: four
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}

.our-services-top{
    background-color: #f2f2f2;
    padding-bottom: 62px;
}

.headline{
    font-size: 20px;
    color:#666d89;
    letter-spacing: 0.1px;
    padding-top: 35px;
    font-weight: 800;
}

.description{
    font-size: 18px;
    color:#767e9e;
    font-weight: lighter;
    line-height: 30px;
    text-align: justify;
    margin-top: -7px;
    margin-bottom: 9px;
}

.our-services-description{
    margin-bottom: 0;
}

.paragraph{
    padding: 0 20px;
    font-size: 12px;
    color:#767e9e;
    text-align: justify;
    line-height: 21px;    
}

.caption{
    color: #666d89;
    font-size: 18px;
    padding-top: 24px;
    margin-bottom: 9px;
}

.our-services-bottom{
    background-color: #ffffff;
    height: 6px;
}

/* PORTFOLIO */
.portfolio-top{
    background-color: #2d303a;
    padding-bottom: 47px;
}
.portfolio{
    padding-top: 95px;
    margin-bottom: -95px;
}
.tab{
    background-color: #2d303a;
    margin-right: 6px;
    margin-left: 1px;
    padding: 2px 5px 3.3px 7px;
    border: 1px solid #666d89;
    border-radius: 5px;
    font-family: "Lato";
    font-size: 12px;
    cursor: pointer;
    color: #767e9e;
    outline: none;
}

.active-tab, .tab:hover{
    border: 1px solid #c5c5c5;
    color:#dedede;
}

.gallery{
    display: flex;  
    margin: 19px 0 0 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery > img {
    width: calc(25% - 15px);
    margin-bottom: 20px;
}

.portfolio-bottom{
    background-color: #323746;
    height: 6px;
}

.active-image{
    border: 5px solid #F06C64;
    box-sizing: border-box;
}

/* ABOUT US */
.about{
    padding-top: 95px;
    margin-bottom: -95px;
}

.about-us-headline > h2{
    margin-bottom: 23px;
}

.about-us-description{
    margin-bottom: 45px;
}

.about-us-top{
    background-color: #f2f2f2;
}

.staff{
    display: flex;
    color: #767e9e;
    font-size: 12px;
    justify-content: space-between;
    padding-bottom: 59px;
}

.about-us-paragraph{
    font-size: 12px;
    color:#767e9e;
    text-align: justify;
    line-height: 22px;    
    width: calc(33.3% - 13px);
}

.about-us-paragraph img{
    width: 100%;
}

.about-us-caption{
    color: #666d89;
    font-size: 18px;
    padding: 9px 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1px 0 0 0;
}

.social_icon{
    width: 14px;
    height: 14px;
    padding: 8px;
    border: 1px solid #6a718c;
    border-radius: 50%;
    margin: 22px 5px 0 1px;
}

.social_icon:hover{
    width: 25px;
    height: 25px;
    border-radius: 25%;
    cursor: pointer;
}

.facebook path:hover{
    fill: #3b5998;
    cursor: pointer;
}

.google path:hover{
    fill: #db4a39;
    cursor: pointer;
}

.twitter path:hover{
    fill: #00acee;
    cursor: pointer;
}

.linkedin path:hover{
    fill: #0e76a8;
    cursor: pointer;
}

.about-us-bottom{
    background-color: #ffffff;
    height: 6px;
}

/* GET A QUOTE */
.get-a-quote-top{
    background-color: #f06c64;
}

.headline3{
    font-size: 30px;
    color:#f0d8d9;
    letter-spacing: -0.2px;
    padding-top: 59px;
    font-weight: 900;
}

.description3{
    font-size: 18px;
    color:#f0d8d9;
    font-weight: lighter;
    padding: 18px 0 9px 0;
    line-height: 30px;
    text-align: justify;
}
.form-and-information{
    display: flex;
    
}

.form{
    margin-top: 35px;
    margin-right: 20px;
    margin-bottom: 8px;
    min-width: 620px;
    display: flex;
    flex-direction: column;
}

.form > input, .form > textarea{
    width: 100%;
    height: 37px;
    background-color: #d6564f;
    outline: none;
    margin-bottom: 17px;
    border: none;
    border-radius: 6px;
    padding-left: 15px;
    color:#f0d8d9;
    box-sizing: border-box;
}

.form > input::placeholder{
    color: #f48c8f;
    font-size: 11.5px;
    font-weight: 400;
}

.form > textarea::placeholder{
    color: #f48c8f;
    font-size: 11px;
    font-weight: 400;
    padding-top: 3px;
    letter-spacing: 0.4px;
}

:focus:input:placeholder{
    color: transparent;
}

.form > textarea{
    height: 202px;
    resize: none;
    padding-top: 9px;
}

.form > input.submit-bottom{
    width: 150px;
    background-color: #d6564f;
    color:#f0d8d9;
    margin: 5px auto 0;
}

.form-submited{
    position: fixed;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    cursor: pointer;
}
.form-submited-modal{
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    cursor: default;
}
.form-submited-control{
    text-align: center;
}
.form-submited-main{
    min-width: 320px;
}
.caption-light{
    font-size: 18px;
    color: #f0d8d9;
    font-weight: 900;
    margin: 33px 0 8px 0;
    letter-spacing: -0.1px;
}

.info{
    font-size: 12px;
    color:#f0d8d9;
    text-align: justify;
    letter-spacing: -0.06px;
    line-height: 22.3px;
}
.contact{
    padding-top: 95px;
}

.contact-information{
    margin-top: 20px;
    line-height: 22px;
    letter-spacing: 0px;
}

.contact-information > a{
    color: #f0d8d9;
}

.location-icon{
    margin-right: 10px;
    margin-left: 3px;
}

.phone-icon{
    margin-right: 9px;
    margin-left: 1px;
}

.mail-icon{
    margin-right: 7px;
}
.get-a-quote-bottom{
    height: 6px;
    background-color: #ea676b;
}

/* FOOTER */
.footer{
    height: 76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    padding-right: 34px;
}

.copyright{
    font-size: 12px ;
    color: #666d89;
    padding-top: 30px;
    padding-left: 3px;
    letter-spacing: -0.3px;
}

.icons-footer{
    margin-right: 2px;
}



@media (max-width: 768px){

    .button {
        padding: 0 3%;
    }

    .prev{
        width: 90%;
        margin-top: 10px;
    }

    .next{
        width: 75%;
        margin-top: 10px;
        margin-left: 9px;
    }

    .button[data-action="next"] {
        left: 67%;
    }

    .advantages{
        display: grid;
        grid-template-areas:
        "one two "
        "three four"
        "five six";
        grid-template-columns: 50% 50%;
        grid-template-rows: 36% 36% 36%;
        padding-bottom: 101px;
        grid-gap: 10px;
    }

    .our-services-top{
        padding-bottom: 0;
    }

    .our-services-caption {
        padding-top: 7px;
    }

    .block > img {
        margin-top: 27px;
    }
    .gallery > img{
        width: calc(33.3% - 13px);
    }

    .description{
        margin-bottom: 10px;
        word-spacing: 5.3px;
        text-align: start;
        letter-spacing: -0.6px;
        width: 95%;
    }

    .our-services-description{
        width: 100%;
    }

    .our-services-bottom{
        background-color: #f2f2f2;
    }

    .tabs{
        margin-bottom: 28px;
    }

    .staff{
        padding-bottom: 61px;
    }


    .about-us-headline{
        padding-top: 26px;
    }

    .about-us-description{
        width: 100%;
        margin-bottom: 38px;
    }

    .headline > h2{
        margin-bottom: 25px;
    }

    .our-services-headline{
        padding-top: 14px;
    }

    .about-us-paragraph{
        width: calc(33.3% - 10px);
    }
    .about-us-paragraph > h3{
        padding: 0;
        margin-top: 4px;
    }

    .about-us-bottom{
        background-color: #f2f2f2;
    }

    .social{
        margin-top: -11px;
    }

    .headline3{
        padding-top: 54px;
        padding-left: 3px;
    }

    .description3{
        text-align: start;
        padding-left: 2px;
        word-spacing: 1.3px;
    }

    .form{
        margin-top: 15px;
        margin-left: -1px;
        margin-right: 29px;
        margin-bottom: 39px;
        min-width: 442px;
    }

    .form > input, .form > textarea{
        margin-bottom: 13px;
        padding-left: 10px;
    }

    .form > textarea{
        height: 159px;
        padding-top: 6px;
    }

    .form > input.submit-bottom{
        margin: 0;
        margin-top: 5px;
    }

    .caption-light {
        margin: 13px 0 1px 0;
    }

    .contact-information{
        margin-top: 10px;
    }

    .copyright{
        padding-left: 0;
        padding-top: 32px;
        font-weight: 900;
        letter-spacing: 0.4px;
    }
}

@media (max-width: 375px){
    
    .button {
        padding: 0 1%;
    }

    .button[data-action="next"] {
        left: 33%;
    }

    .prev{
        width: 90%;
        margin-top: 10px;
    }

    .next {
        width: 75%;
        margin-left: 4px;
    }

    .navigation-bar{
        display: none;
    }

    .burger-menu{
        display: block;
        padding-top: 26px;
        margin-left: -10px;
        transition: all 0.5s ease-out;
        cursor: pointer;
    }

    .active-burger-menu {
        transform: rotate(90deg);
    }

    .header-top{
        height: 71px;
        display: flex;
        text-align: center;
        flex: auto;
        position: relative;
    }

    .website-name{
        font-size: 20px;
        flex: auto;
    }

    .star-symbol{
        display: none;
    }

    .website-name::after{
        content: '*';
        color:#f06c64;
        font-size: 20px;
        padding-top: 23px;
    }

    .header-bottom{
        display: none;
    }
    .carousel{
        padding-top: 67px;
    }

    .section {
        padding: 0 30px;
    }

    .headline{
        letter-spacing: -0.1px;
        padding-top: 17px;
    }

    .our-services-headline{
        padding-top: 1px;
        padding-left: 3px;
    }

    .advantages{
        display: grid;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
        grid-template-columns: 100%;
        grid-template-rows: 16% 15% 16% 16% 16% 16% 16%;
        padding-bottom: 25px;
        grid-gap: 10px;
    }

    .block > img {
        margin-top: 14px;
    }

    .our-services-caption {
        padding-top: 0px;
        margin-top: 13px;
    }

    .description {
        width: 100%;
        margin-bottom: 15px;
    }
    .tabs{
        margin-bottom: 25px;
    }

    .gallery{
        padding-bottom: 22px;
    }

    .gallery > img{
        width: calc(50% - 6px);
        margin-bottom: 13px;
    }

    .gallery > img:nth-last-child(-n+4){
        display: none;
    }

    .portfolio-bottom {
        background-color: #2d303a;
    }
    
    .about-us-headline{
        padding-top: 8px;
        letter-spacing: 0.3px;
    }

    .about-us-description{
        margin-bottom: 24px;
        margin-top: -7px;
    }

    .staff{
        flex-flow: column;
        padding-bottom: 3px;
    }

    .about-us-paragraph{
        width: 100%;
        margin-bottom: 28px;
    }

    .about-us-paragraph > h3{
        margin-top: 9px;
    }

    .about-us-bottom {
        background-color: #f2f2f2;
    }

    .headline3 {
        padding-top: 45px;
        padding-left: 1px;
    }

    .form-and-information{
        flex-wrap: wrap;
    }

    .form {
        margin-top: 13px;
        margin-left: 0;
        margin-right: 29px;
        margin-bottom: 17px;
        min-width: 315px;
    }

    .form > input.submit-bottom {
        width: 100%;
        padding: 25px;
        margin-top: 1px;
    }

    .contact-information{
        margin-top: 9px;
        line-height: 26px;
        margin-bottom: 31px;
    }

    .get-a-quote-bottom{
        background-color: #f06c64;
    }

    .copyright {
        display: none;
    }

    .icons{
        flex: auto;
        text-align: center;
    }
}